.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkgoldenrod; /* Background color of the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a more subtle look */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  top: 10%;
}
