.image-grid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: darkorange;
}

.image-grid img {
  width: 122%;
  height: 95%;
  transition: transform 0.3s ease;
  display: block;
  object-fit: fill;
}

.image-grid {
  display: grid;
  place-items: center; /* Center the content horizontally and vertically */
}

.image-grid image:hover {
  /* transform: scaleX(1.8); */
  transform: translateX(20%, -20%);
  z-index: 100;
}

.image-grid img:not(:hover) {
  transform: scaleX(0.8);
  /* opacity: 0.1; */
  filter: grayscale(90%);
}

.image2:hover {
  transform: scaleX(1.1);
  z-index: 100;
}

.image3:hover {
  transform: scaleX(1.1);
  z-index: 100;
}

.imageLeft:hover {
  transform: translateX(20%);
  z-index: 100;
}

.imageRight:hover {
  transform: translateX(-20%);
  z-index: 100;
}
